/*портфолио*/
.title{
       @include fonts(700);
       font-size: 18px;
       line-height: 36px;
       letter-spacing: 0.06em;
       color:$accent-text; 
     }


.desc{
        @include fonts(400);
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: $text-color; 
     }

    

.spreadsheet{ 
        width: auto;
        height: auto;
             }
@media (min-width:1200px){
    .spreadsheet{
        width: 1200px;
        height: 1300px;
    }
}


@media (max-width: 450px){
    .spreadsheet{
            display: block;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
   
@media (min-width: 450px){
    .spreadsheet {
        &:nth-child(-n+8){
             display: flex;
             justify-content: center;
             flex-wrap: wrap;
             width: auto;
             margin: 0 auto;
       }      
    }
}
    

@media(min-width:768px){
    .spreadsheet{
            &:nth-child(-n+8){
                display: flex;
                justify-content: unset;
                flex-wrap: wrap; 
            }
         
        }
    }

@media (min-width:1200px){
    .spreadsheet{
        &:nth-child(-n+8){
            display: flex;
            padding-top: 0px;
            justify-content: center;
        }
            
        }
    }

@media (max-width:450px){
    .card{
        width: 100%;
    }
} 

@media (min-width:450px){
    .card{
          width: auto;
     }
} 


.ticket {
        width: auto;
        height: 404px;
        min-height: 100px;
        margin-bottom: 30px;
       
        
        }
@media (max-width:450px){
    .ticket{
            width: 100%;
            height: auto;
            }
        }
       
@media (min-width:768px){
        .ticket{
            width: 354px;
          &:nth-child(even) {
                margin-left: 15px;
                
            }
          &:nth-child(odd){
                margin-right: 15px;
               
            }
        } 
    }

@media (min-width:1200px){
    .ticket{
        width: auto;
        margin: 15px;
      &:last-child{
            padding: 0px;
        }
    }
}


@media (max-width: 1200px) {
        .spreadsheet {
            justify-content: space-around;
     }  
        .ticket {
            flex: 0 1 calc(100% / 3 - 15px);
    }
}
@media (max-width: 768px) {
        .ticket {
            
            flex: 0 1 calc(100% / 2 - 15px);
        }
    }

    

.animation-technocryk{
        padding: 63px 24px;      }
.technocryk{
        @include fonts(400);
        font-size: 18px;
        line-height: 28px; 
        letter-spacing: 0.03em;
        color: $my-color;    }


.photo{
        position: relative;
        overflow: hidden;   }


.current-link,
.current-link.link::after,
.link:hover:after,
.current-link,
.current-link.link::after,
.link:focus:after{
        color:$accent-color;
        opacity: 1;  } 
                
.link::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -0.5px;
        left: 0px;
        width: 100%;
        height: 4px;
        background: $accent-color;
        border-radius: 2px;
        opacity: 0; 
        transition: opacity 250ms linear;  }  
    
.link{
        padding-top: 32px;
        padding-bottom: 32px;
        transition:color  250ms linear;}
.link{
        position: relative;    }

.internal-block{     
        padding:20px 15px;  }

.coloring{
    width: 100%;
        padding-bottom: 79px;
        padding-top: 60px;  }
@media (min-width:1200px) {
    .coloring{
            padding-bottom: 94px;}
            }


.ghost{
         width: 100%;
         display: block;
         border: 1px solid #EEEEEE; 
      &:hover,
      &:focus{
              outline: none;
              background: $my-color;
              border: 1px solid $ghost-color;
              display: block;
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
               0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16)   
       
              }
                   &:hover .animation-technocryk,
                   &:focus .animation-technocryk
                    {
                       transform: translateY(0);   
       }
    }
              

    // анимации

.contacts{
          transition-property: background-color,color ;
          transition-duration: 250ms;
          transition-timing-function: linear; }
.instagram,.twitter,.facebook,.linkedin{
          @include transform;       }
.link-client,.instagram-connexion,.twitter-connexion,
.facebook-connexion,.linkedin-connexion,.link-mailto,.link-tel{
          @include transform;       }
       
.photo .animation-technocryk{
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          background: rgba(33, 150, 243, 0.9);
          transform: translateY(100%);
          transition: transform 250ms linear;    
          }